<div class="container span12">
  <div class="span6 add-flirt">
    
    <% if @providers.empty? %>
      <h1>Thanks for signing up!</h1>
      <p>First, you need to authorize at least one of your accounts:</p>
    <% else %>
    <h1>Add a flirt</h1>
    <div class="row-fluid">
      <div class="span6 box-twitter">
        <i class="icon-twitter"></i>
      </div>
      <div class="span6 box-facebook">
        <i class="icon-facebook"></i>
      </div>
     
      <div id="add-form">
        <%= render :partial => 'form' %>
      </div> <!-- #add-form -->

      <div id="info">
        <div class="info-twitter">
          <span class="btn btn-cancel">cancel</span>
        </div>

        <div class="info-facebook">
          <span class="profile_img">
            <img src="" class="clone" alt=""/>
          </span>
          <p class="help">www.facebook.com/<b>username</b> <br/><em>sometimes has dots and numbers, i.e "john.smith.4"</em></p>
          <span class="btn btn-cancel">cancel</span>
        </div>
      </div> <!-- #info -->

      <div class="currently-flirting">
        <% if @flirts.any?%>
          <h4>People you are flirting:</h4>
          <% @flirts.each do |flirt| %>
            <%= render 'flirt', :flirt => flirt %>
          <% end %>
        <% else %> 
          <h4>No flirts yet.</h4>
        <% end %>
      </div>

    </div> <!-- .row-fluid -->
    <% end %>
   
    
  </div> <!-- .add-flirt -->

  <div class="span6 my-accounts">
    <%= title "My identifiers" %>

    <div class="row-fluid">
      <% if @links.any? %>
        <% @links.each do |link| %>
          <%= render 'links/link', :link => link %>
        <% end %>
      <% end %>
    </div>

    <% unless @providers.include? 'twitter'  %>
      <div class="account-twitter">
        <i class="icon-twitter-sign"></i>
        <span><%= link_to "Authorize my Twitter account", user_omniauth_authorize_path(:twitter) %></span>
      </div>
    <% end %>
    <% unless @providers.include? 'facebook' %>
      <div class="account-facebook">
        <i class="icon-facebook-sign"></i>
        <span><%= link_to "Authorize my Facebook account", user_omniauth_authorize_path(:facebook) %></span>
      </div>
    <% end %>
  </div>

    
</div>
