<div class="container accounts span6 offset3">
  <%= title "My accounts" %>

  <p>Authorize your accounts so other users can find you.</p>

  <% if @links.any? %>
    <% @links.each do |link| %>
      <%= render 'link', :link => link %>
    <% end %>
  <% end %>

  <% unless @providers.include? 'twitter'  %>
    <div class="box-twitter">
      <i class="icon-twitter"></i>
      <span><%= link_to "Authorize", user_omniauth_authorize_path(:twitter) %></span>
    </div>
  <% end %>
  <% unless @providers.include? 'facebook' %>
    <div class="box-facebook">
      <i class="icon-facebook"></i>
      <span><%= link_to "Authorize", user_omniauth_authorize_path(:facebook) %></span>
    </div>
  <% end %>

  <p style="padding-top:30px; float:left">Once you've authorized your account, <%= link_to "go add some flirts", flirts_path %>.</p>


</div>