<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @link.provider %>
</p>

<p>
  <b>Handle:</b>
  <%= @link.handle %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
