<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path('touch/h/apple-touch-icon.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path('touch/l/apple-touch-iconx72.png') %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path('touch/l/apple-touch-icon.png') %>">
  <link rel="shortcut icon" href="<%= asset_path('touch/apple-touch-icon-precomposed.png') %>">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook -->
  <meta property="og:title" content="Pairlet: a match-making app for singles" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.pairlet.com/" />
  <meta property="og:image" content="http://www.pairlet.com/assets/slides/screenshots.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="544" />
  <meta property="og:image:height" content="331" />
  <meta property="og:description" content="Pairlet is a match-making app that can let you know when there is mutual interest... without giving yourself away." />
  <meta property="fb:app_id" content="513034568726770" />

  <title>Pairlet - match-making for singles, with a twist.</title>

  <meta description="Pairlet is an online match-making website to help you discover when there is mutual interest with the person you like.">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!-- https://www.google.com/webfonts#UsePlace:use/Collection:Lato:300,400,700 -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

  <%= render :partial => 'layouts/header' %>
  
  <% if flash_messages && user_signed_in? %>
    <div class="row-fluid">
      <%= flash_messages %>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span12 content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
